tag {
    display: inline-block;
    font-size: small;
    font-style: italic;
    font-weight: lighter;
}

tag::before {
    content: '<< ';
    font-size: smaller;
}

tag::after {
    content: ' >>';
    font-size: smaller;
}

title {
    display: block;
    font-size: large;
    font-weight: bold;
}

concept {
    background: #eef;
    border: solid 1px #aaf;
    display: block;
    padding: 1em;
}

concepttag {
    background: #ccf;
    border: solid 1px #aaf;
    border-bottom: none;
    display: block;
    padding: 0.5em;
    text-align: center;
}

warning {
    background: #efe;
    border: solid 1px #afa;
    display: block;
    padding: 1em;
}

trap {
    background: #fee;
    border: solid 1px #faa;
    display: block;
    padding: 1em;
}
